<!-- This is a page that can be used by ADMIN and DISTRIBUTOR to see all the available tracks -->
<ion-header>

  <ion-navbar>
    <ion-searchbar placeholder="Search Track" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="col" *ngIf="createAgreementFlag==true"> <button ion-button (click)="createAgreement()">Create Agremeent</button></div>
  <div class="col" *ngIf="updateTrackFlag==true"> <button ion-button (click)="updateTrackRevenue()">Update Tracks</button></div>

  <div class="row header">
    <div class="col">
      <ion-checkbox color="secondary"></ion-checkbox>
    </div>
    <div class="col">Track Title</div>
    <div class="col">Artist</div>
    <div class="col">ISRC</div>
    <div class="col">Revenue</div>
    <div class="col" *ngIf="!updateTrackFlag && !manualPaymentFlag">Detail</div>
    <div class="col" *ngIf="!updateTrackFlag && manualPaymentFlag">Manual Payment</div>
  </div>
  <div class="row" *ngFor="let track of listTrackModel;let i=index">
    <div class="col">
      <ion-checkbox color="secondary" [(ngModel)]="checkedItems[i]" (ionChange)="checkTrack(i,track.isrc)"></ion-checkbox>
    </div>
    <div class="col">{{track.title}}</div>
    <div class="col">{{track.author}}</div>
    <div class="col">{{track.isrc}}</div>
    <div class="col">{{track.revenueTotal}}</div>
    <div class="col" *ngIf="!updateTrackFlag && !manualPaymentFlag"> <button ion-button (click)="selectTrack(track.isrc)">Detail</button></div>
    <div class="col" *ngIf="!updateTrackFlag && manualPaymentFlag"> <button ion-button (click)="manualPayment(track.isrc)">ManualPayment</button></div>

  </div>

  <div *ngIf="flagNoResults" class="item-custom">No Results</div>
</ion-content>