<ion-header>

  <ion-navbar>
    <ion-searchbar placeholder="Search Transaction" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="col" *ngIf="createAgreementFlag==true"> <button ion-button (click)="createAgreement()">Payment</button></div>
  <ion-card>
    <ion-card-header>
      <div class="custom-container">
        Search Filters
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-row radio-group [(ngModel)]="paymentReceiptStatus">
        <ion-col>
          <ion-item>
            <b>Status</b>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Spent</ion-label>
            <ion-radio value="SPENT"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Earned</ion-label>
            <ion-radio value="EARNED"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row radio-group [(ngModel)]="type">
        <ion-col>
          <ion-item>
            <b>Type</b>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Distribution</ion-label>
            <ion-radio value="DISTRIBUTION"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Track_Upload</ion-label>
            <ion-radio value="TRACK_UPLOAD"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-item class="test">
        <ion-label>Trader Emiter</ion-label>
        <ion-select [(ngModel)]='traderEmiterId' placeholder="None" [ngModelOptions]="{standalone: true}">
          <div *ngFor="let trader of listTraderEmiter">
            <ion-option value={{trader.traderId}}>{{trader.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item class="test">
        <ion-label>Trader Receiver</ion-label>
        <ion-select [(ngModel)]='traderReceiverId' placeholder="None" [ngModelOptions]="{standalone: true}">
          <div *ngFor="let trader of listTraderReceiver">
            <ion-option value={{trader.traderId}}>{{trader.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <button ion-button type="submit" block (click)="filter()" round>Search</button>
    </ion-card-content>
  </ion-card>

  <div>
    <b>Token Total </b>{{tokenTotal}}

  </div>

  <div class="row header">
    <!-- <div class="col">
        <ion-checkbox color="secondary"></ion-checkbox>
      </div> -->
    <div class="col">ISRC</div>
    <div class="col">Ammount</div>
    <div class="col">TraderEmiterName</div>
    <div class="col">TraderReceiverName</div>
    <div class="col">AgreementId</div>
    <div class="col">Status</div>
    <div class="col">Type</div>

  </div>
  <div class="row" *ngFor="let transaction of listTransactionModel;let i=index">
    <!-- <div class="col">
        <ion-checkbox color="secondary" [(ngModel)]="checkedItems[i]" (ionChange)="checkTrack(i,track.isrc)"></ion-checkbox>
      </div> -->
    <div class="col">{{transaction.isrc}}</div>
    <div class="col">{{transaction.ammount}}</div>
    <div class="col">{{transaction.traderEmiterName}}</div>
    <div class="col">{{transaction.traderReceiverName}}</div>
    <div class="col">{{transaction.agreementId}}</div>
    <div class="col">{{transaction.paymentReceiptStatus}}</div>
    <div class="col">{{transaction.paymentReceiptType}}</div>


    <!-- <div class="col"> <button ion-button (click)="selectTrack(track.isrc)">Detail</button></div> -->
  </div>

  <div *ngIf="flagNoResults" class="item-custom">No Results</div>
</ion-content>