<ion-header>

  <ion-navbar>
    <ion-title>Create Agreement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header *ngIf="role==ADMIN">
      <b>Trader <b *ngIf="!selectionEnabled"> Emiter</b> <b *ngIf="selectionEnabled">{{userId}}</b> </b>
    </ion-card-header>
    <ion-card-content *ngIf="role==ADMIN">
      <ion-item>
        <ion-select [(ngModel)]='traderEmiterId' placeholder="Trader" [ngModelOptions]="{standalone: true}" disabled="{{selectionEnabled}}">
          <div *ngFor="let trader of listTrader">
            <ion-option value={{trader.traderId}} disabled="{{selectionEnabled}}">{{trader.name}}</ion-option>
          </div>
        </ion-select>
        <ion-input type="text" [(ngModel)]="emiterPercentage" name="name" placeholder="Percentage 0.00%"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <b>Trader Receiver</b>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-select [(ngModel)]='traderReceiverId' placeholder="Trader" [ngModelOptions]="{standalone: true}">
          <div *ngFor="let trader of listTraderReceiver">
            <ion-option value={{trader.traderId}}>{{trader.name}}</ion-option>
          </div>
        </ion-select>
        <ion-input type="number" [(ngModel)]="receiverPercentage" name="name" placeholder="Percentage 0.00%"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <b>Tracks for the Agreement</b>
      </ion-card-header>
      <div class="row header">
        <div class="col">Track Title</div>
        <div class="col">Artist</div>
        <div class="col">ISRC</div>
        <div class="col">Revenue</div>
      </div>
      <div class="row" *ngFor="let track of listTrackModel;let i=index">
        <div class="col">{{track.title}}</div>
        <div class="col">{{track.author}}</div>
        <div class="col">{{track.isrc}}</div>
        <div class="col">{{track.revenueTotal}}</div>
      </div>
    </ion-card-content>
  </ion-card>

  <button ion-button round (click)="createAgreement()">Create</button>
</ion-content>